<div fxFlexFill fxLayout="column">

  <div id="header" [ngStyle]="{'background-image': 'url(' + recipe?.img + ')'}">
    <div fxLayout="column" class="overlay">
      
      <div fxLayout="row" fxLayout="start start" fxLayoutAlign="center start">
        <div class="back" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px" (click)="back()">
          <img src="../../../assets/icon-back.png" />
          <span>Voltar</span>
        </div>

        <div fxFlex></div>

        <div class="estimated-time" fxLayout="row" fxLayoutGap="16px">
          <img src="../../../assets//icon-time.png">

          <div fxLayout="column">
            <span>Tempo estimado</span>
            <span class="minutes">{{recipe?.preparation.estimatedMinutes}} minutos</span>
          </div>
        </div>
      </div>

      <div fxFlex></div>

      <div class="title-wrapper" fxLayout="column">
        <span id="title">{{recipe?.name}}</span>
        <span id="description">{{recipe?.description}}</span>
      </div>

    </div>
  </div>

  <div id="content" fxFlex fxLayout="column">

    <div class="ingredientes-wrapper" fxLayout="column">
      <div fxLayout="row">
        <h2>Ingredientes</h2>
      </div>

      <div class="ingredients" fxLayout="column" fxLayoutGap="40px">

        <cb-check
          *ngFor="let ingredient of recipe?.ingredients; let i = index"
          [checked]="ingredient.checked"
          [title]="(ingredient.proportion) + ' ' + (ingredient.name)"
          (click)="toggleIngredient(i)"></cb-check>
      
      </div>
    </div>

    <div class="steps-wrapper" fxLayout="column">
      <div fxLayout="row">
        <h2>Modo de preparo</h2>
      </div>

      <div class="steps" fxLayout="column" fxLayoutGap="40px" [ngClass]="{'opacity-50': !started, 'opacity-100': started}">

        <cb-check
          *ngFor="let step of recipe?.preparation.steps; let i = index"
          [checked]="step.completed"
          [title]="step.name"
          [description]="step.description"
          (click)="toggleStep(i)"></cb-check>

      </div>
    </div>

  </div>

  <div class="bottom-bar" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">

    <div fxFlex fxLayout="column" fxLayoutGap="8px">
      <span>Status: {{progress.toFixed(0)}}% pronto e {{minutes}} minuto(s), utilizado(s)</span>
      <cb-progressbar [progress]="progress" width="50%" height="4px"></cb-progressbar>
    </div>

    <cb-button text="Iniciar preparação" (click)="startPreparation()" *ngIf="!started"></cb-button>
    <cb-button text="Finalizar" (click)="finishDialog()" *ngIf="started && !finished" [disabled]="progress < 100"></cb-button>

  </div>

</div>