#header {
  background-color: #666666;
  background-size: cover;
  background-position: center center;
  color: white;
  font-weight: bold;
  top: 0;
  width: 100%;
  height: 400px;
  transition: 0.25s;
}

.overlay {
  width: 100%;
  height: 100%;
  padding: 16px 12px 16px 12px;
  background: rgb(0, 0, 0, 0.5);
}

.back {
  cursor: pointer;
}

.estimated-time {
  padding: 16px;
  color: #666666;
  background: white;
}

.estimated-time .minutes {
  font-family: Roboto-Medium;
}

#title {
  transition: 0.25s;
  font-size: 40px;
  margin-bottom: 16px;
}

#description {
  font-family: Roboto-Thin;
  font-size: 14px;
}

#content {
  transition: 0.25s;
  overflow-y: auto
}

.ingredientes-wrapper {
  background: #eaeaea;
}

.ingredientes-wrapper h2 {
  margin: 16px;
}

.ingredients {
  padding: 16px
}

.steps-wrapper {
  background: white;
}

.steps-wrapper h2 {
  margin: 16px;
}

.steps {
  padding: 16px;
}

.bottom-bar {
  padding: 16px;
  background: #eaeaea; 
}

.opacity-50 {
  opacity: .5;
}

.opacity-100 {
  opacity: 1;
}