.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: white;
}

.wrapper img {
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  border: none;
}

input:focus{
  outline: none;
}

.leftIcon, .rightIcon {
  width: 24px;
  right: 24px;
}