<div class="wrapper">

  <img *ngIf="leftIcon" [src]="leftIcon" />

  <div class="input-container">
    <input [name]="name" [formControl]="control" [type]="type" [placeholder]="placeholder" *ngIf="formControlName" />
    <input [name]="name" [type]="type" [placeholder]="placeholder" [value]="value" (input)="updateValue($event.target.value)" *ngIf="!formControlName" />
  </div>

  <img *ngIf="rightIcon" [src]="rightIcon" (click)="emitRightIconClick($event)" class="rightIcon" [ngClass]="{'pointer': rightIconPointer}" />

</div>