<div class="wrapper">

  <img [src]="img" />

  <div class="info">
    <span class="title">{{title}}</span>
    <span class="description">{{description}}</span>
  </div>

  <div class="actions">
    <div class="status-content" *ngIf="status && status !== 'realizado'">
      <span>Pedido</span>
      <span>{{status}}</span>
    </div>

    <div class="fab gray" *ngIf="when && hour">
      <span>{{when}}</span>
      <span>{{hour}}</span>
    </div>

    <div class="fab primary" (click)="onViewMoreClick($event)">
      <span>Ver</span>
      <span>receita</span>
    </div>
  </div>

</div>
