.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: white;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(102, 102, 102, .25)
}

.wrapper img {
  width: 160px;
  height: 160px;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.info .title {
  font-family: Roboto-Medium;
  font-weight: bolder;
  font-size: 24px;
  margin-bottom: 12px;
}

.info .description {
  font-family: Roboto-Light;
}

.actions {
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
}

.actions * {
  margin-left: 8px;
  margin-right: 8px;
}

.status-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  color: green;
}

.fab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.fab.primary {
  background: var(--color-primary);
  color: white;
  cursor: pointer;
}

.fab.primary:active {
  background: var(--color-darkprimary);
}

.fab.gray {
  background: #cccccc;
  color: #666666;
}

/** XS
*********************************************/
@media (max-width: 599px) {
  .wrapper {
    flex-direction: column;
  }

  .status-content {
    width: 50px;
    height: 50px;
    font-size: 12px;
  }

  .fab {
    width: 50px;
    height: 50px;
    font-size: 12px;
  }
}

/** SM
*********************************************/
@media (min-width: 600px) and (max-width: 959px) {
  .wrapper {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .wrapper img {
    width: 120px;
    height: 120px;
  }

  .info .title {
    font-size: 18px;
  }

  .info .description {
    font-size: 12px;
  }

  .status-content {
    width: 64px;
    height: 64px;
    font-size: 12px;
  }

  .fab {
    width: 64px;
    height: 64px;
    font-size: 12px;
  }

  .actions * {
    margin-left: 4px;
    margin-right: 4px;
  }
}