.wrapper {
  position: relative;
  width: 100%;
  height: 8px;
  background: white;
}

.content {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  max-width: 100%;
  background: var(--color-primary);
}