<div class="page">

  <div class="overlay" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center" fxLayout.gt-md="column" fxLayoutAlign.gt-md="start center">

    <div class="logo-wrapper" fxLayout="column" fxLayoutGap="32px">
      <div fxLayout="row" fxLayoutAlign="center">
        <cb-order-dialog
          [quantity]="ordersLength"
          label="Novo pedido"
          description="Por favor, faça o login para ver o pedido e ter acesso a receita com o modo de preparo"></cb-order-dialog>
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <img src="../../../assets/logo-coco-bambu.png" class="logo" />
      </div>
    </div>

    <form [formGroup]="loginForm" fxLayout="column" fxLayoutGap="12px">
      <cb-textfield
        formControlName="email"
        name="email"
        type="email"
        leftIcon="../../../assets/icon-login.png"
        placeholder="Nome do usuário"
        errorMessage="Insira um email válido"></cb-textfield>

      <cb-textfield
        formControlName="password"
        name="password"
        [type]="passwordFieldType"
        placeholder="Senha"
        leftIcon="../../../assets/icon-key.png"
        [rightIcon]="visibilityIcon"
        (rightIconClick)="toggleVisibility()"
        [rightIconPointer]="true"
        errorMessage="Insira uma senha válida"></cb-textfield>

      <cb-button
        text="Acessar"
        (click)="login()"
        [disabled]="loginForm.invalid"></cb-button>
    </form>

  </div>

</div>