.overlay {
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.8);
}

.logo-wrapper {
  margin-bottom: 32px;
}

form {
  width: 280px;
}

form .logo {
  width: 160px;
  height: auto;
}

cb-textfield {
  width: 100%;
}

cb-button {
  width: 100%;
}

/** XS
*********************************************/
@media (max-width: 599px) {
}

/** SM
*********************************************/
@media (min-width: 600px) and (max-width: 959px) {
}

/** MD
*********************************************/
@media (min-width: 960px) and (max-width: 1279px) {
}

/** LG
*********************************************/
@media (min-width: 1280px) and (max-width: 1919px) {
}

/** XL
*********************************************/
@media (min-width: 1920px) {
}

/** GT MD
*********************************************/
@media (min-width: 960px) {
  .logo-wrapper {
    margin-top: 64px;
  }

  .page {
    background: url('../../../assets/prato-arroz-grande.jpg');
    background-size: cover;
  }
}

/** LT MD
*********************************************/
@media (max-width: 960px) {
  .overlay {
    background: url('../../../assets/img-bg-login.jpg');
    background-size: cover;
  }
}