.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

.button.enabled {
  background: var(--color-primary);
  color: white;
  cursor: pointer;
}

.button.enabled:active {
  background-color: var(--color-darkprimary);
}

.button.disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.button.disabled:active {
  background-color: #cccccc;
}