.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.not-checked {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid black;
}

.checked {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: green;
}

.checked img {
  width: 20px;
  height: 20px;
}

.title {
  margin-left: 16px;
}

.description {
  padding-left: 42px;
  user-select: none;
}