<div class="wrapper">

  <div class="header">
    <div class="not-checked" *ngIf="!checked"></div>

    <div class="checked" fxLayout="column" fxLayoutAlign="center center" *ngIf="checked">
      <img src="../../../assets/icon-check.png">
    </div>

    <span class="title">{{title}}</span>
  </div>

  <span class="description">{{description}}</span>

</div>