.wrapper {
	display: flex;
	flex-direction: row;
  position: relative;
  width: 300px;
	height: auto;
	padding: 16px;
	box-sizing: border-box;
	background: #ffffff;
	border-radius: .4em;
}

.wrapper:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-top-color: #ffffff;
	border-bottom: 0;
	margin-left: -16px;
	margin-bottom: -16px;
}

.quantity-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--color-primary);
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 24px;
	box-sizing: border-box;
	border-right: 1px solid rgb(102, 102, 102, .25)
}

.description-container {
	display: flex;
	flex: 1;
}

.quantity {
	font-size: 42px;
	line-height: .8;
}

.label {
	font-size: 12px;
}

.description {
	font-size: 12px;
	padding: 16px;
}