<div class="wrapper">

  <div class="quantity-container">
    <span class="quantity">{{quantity}}</span>
    <span class="label">{{label}}</span>
  </div>

  <div class="description-container">
    <span class="description">{{description}}</span>
  </div>

</div>