.header {
  background: #666666;
  color: white;
}

.header .search {
  padding: 8px 32px 8px 8px;
  box-sizing: border-box;
}

.title-wrapper {
  background: white;
  width: 100%;
  padding: 24px 12px 20px 12px;
  border-bottom: 1px solid rgb(102, 102, 102, .25)
}

span {
  font-family: Roboto-Medium;
  font-weight: bolder;
  font-size: 12px;
}

.page-switcher .button {
  width: 64px;
  height: 100%;
  color: white;
  cursor: pointer;
}

.page-switcher .button span {
  font-family: Roboto-Light;
}

.page-switcher .button.selected {
  background: white;
  color: var(--color-primary);
}

cdk-virtual-scroll-viewport {
  width: 100%;
  height: 100%;
}