<div class="page" fxLayout="column">

  <div class="header" fxLayout="row">

    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
      <img src="../../../assets/logo-coco-bambu-mini.png" />
      
      <cb-textfield
        fxFlex
        name="search"
        [(value)]="search"
        type="text"
        rightIcon="../../../assets/icon-busca.png"
        placeholder="Buscar receita..."
        errorMessage="Insira um email válido"></cb-textfield>
    </div>

    <div class="page-switcher" fxLayout="row">
      <div fxLayout="column" fxLayoutAlign="center center" class="button selected">
        <img src="../../../assets/icon-busca.png" width="24" height="24" />
        <span>Pedidos</span>
      </div>

      <div fxLayout="column" fxLayoutAlign="center center" class="button">
        <img src="../../../assets/icon-busca.png" width="24" height="24" />
        <span>Receitas</span>
      </div>

      <div fxLayout="column" fxLayoutAlign="center center" class="button" (click)="logout()">
        <img src="../../../assets/icon-busca.png" width="24" height="24" />
        <span>Sair</span>
      </div>
    </div>
  </div>

  <div class="title-wrapper" fxLayout="row">
    <span>Últimos pedidos</span>
  </div>

  <cdk-virtual-scroll-viewport itemSize="50">
   
    <cb-recipe-card
      *cdkVirtualFor="let recipe of recipes | recipeName:search"
      [img]="recipe.thumbnail"
      [title]="recipe.name"
      [description]="recipe.description"
      [status]="recipe.status.text"
      when="Hoje"
      hour="18:00"
      (viewMoreClick)="viewMore(recipe._id)"></cb-recipe-card>

  </cdk-virtual-scroll-viewport>

</div>
