:root {
  --color-primary: #FF5722;
  --color-darkprimary: #E64A19;
}

* { margin: 0; }

@font-face {
  font-family: 'Roboto-Thin';
  src: url('assets/fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('assets/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('assets/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.ttf');
}

html, body, .page {
  width: 100%;
  height: 100%;
  background: #dfdfdf;
  font-family: Roboto;
  color: #666666;
}

.page {
  position: relative;
}

.pointer { cursor: pointer; }