<div class="wrapper">

  <div class="window">
    <div class="title">
      <h3>{{app.dialogTitle}}</h3>
    </div>

    <div class="text">
      <span>{{app.dialogText}}</span>
    </div>

    <div class="action">
      <button (click)="close()">OK</button>
    </div>
  </div>

</div>