.wrapper {
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, .7);
}

.window {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 250px;
  padding: 48px;
  background: white;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 48px;
}

.text {
  margin-bottom: 48px;
  padding: 0 24px 0 24px;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.action button {
  width: 50%;
  border: none;
  padding: 16px;
  min-width: 150px;
  outline: none;
}

.action button:active {
  background: #CCCCCC;
}